
body {
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#game-canvas {
  position: absolute;
}

.left-sidebar-layout:not([hidden]),
.top-navbar-layout:not([hidden]) {
  -webkit-box-align: stretch;
  -webkit-box-pack: justify;
  display: -webkit-box;
  position: relative;
}

.left-sidebar-layout {
  -webkit-box-orient: horizontal;
  height: 100%;
}

.top-navbar-layout {
  -webkit-box-orient: vertical;
  width: 100%;
}

.left-sidebar-layout > div,
.top-navbar-layout > div {
  -webkit-box-flex: 1;
  position: relative;
}

.left-sidebar-layout:not([hidden]) > div:first-child,
.top-navbar-layout:not([hidden]) > div:first-child {
  -webkit-box-flex: 0;
  display: -webkit-box;
}

.top-navbar-layout > div:first-child {
  -webkit-box-orient: horizontal;
  border-bottom: 1px solid #777;
  display: -webkit-box;
}

.left-sidebar-layout > div:first-child {
  -webkit-box-orient: vertical;
  border-right: 1px solid #777;
  display: -webkit-box;
}

#nav-bar {
  background: #eee;
}

.page {
  position: absolute !important;
  height: 100%;
  width: 100%;
}

#nav-bar > *,
.sidebar-page-selector {
  -webkit-box-sizing: content-box;
  background-size: 90%;
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid: #eee;
  height: 40px;
  margin: 5px;
  width: 40px;
  position: relative;
}

.page-selector {
}

.page-selector[active=true],
.sidebar-page-selector[active=true] {
  border: 1px solid #555;
}

#character-selector {
  background-image: url("./images/character.png");
}

#map-selector {
  background-image: url("./images/map.png");
}

#combat-overview-selector {
  background-image: url("./images/shield_and_swords.png");
}

#character-import-selector {
  background-image: url("./images/document.png");
}

#combat-tracker-selector {
  background-image: url("./images/Swords-icon.png");
}

#save-button {
  background-image: url('./images/save.png');
}

#undo-button {
  background-image: url('./images/undo.png');
}

#sidebar {
  width: 200px;
}

#sidebar-tabs {
  display: -webkit-box;
}


#character-import-page:not([hidden]) {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  position: absolute !important;
  height: 100%;
  width: 100%;
}

#sidebar-character-list {
  -webkit-box-flex: 1;
  overflow-y: auto;
}

#sidebar-controls {
  padding: 5px;
}

.section-title {
  color: #555;
  font-family: 'sans';
  font-weight: bold;
}

#content-area {
  overflow: hidden;
}

#character-template {
  display: none;
}

.character-button {
  background: #eee;
  border-radius: 5px;
  margin: 5px;
  padding: 3px;
}

.character-button[active=true] {
  background: #777;
  color: #fff;
}

.character-button-title {
  -webkit-box-orient: horizontal;
  display: -webkit-box;
  font: 14px 'sans' bold;
}

.character-button-name {
  -webkit-box-flex: 1;
}

.character-button-subtitle {
  color: #555;
  font: 10px 'sans';
  margin-top: 5px;
}

.character-button[active=true] .character-button-subtitle {
  color: #fff;
}

.character-button-subtitle > * {
  -webkit-padding-end: 5px;
}

.character-button-drag {
  opacity: 0.4;
}

#character-navbar > button {
  -webkit-margin-start: 10px;
  background: none;
  border: none;
  color:  #555;
  display: block;
  font: 16px 'sans';
  line-height: 32px;
  margin: 0;
  overflow: hidden;
  width: 120px;
}

#character-navbar > button[active=true] {
  background: #777;
  color: #fff;
}

#character-navbar > button:hover:not([active=true]) {
  color: #000;
  font-weight: bold;
}

#character-sections {
  -webkit-padding-start: 10px;
  overflow: auto;
  padding-top: 10px;
  position: relative;
}

#stats-tab:not([hidden]) {
  -webkit-box-orient: horizontal;
  -webkit-box-pack: start;
  -webkit-box-align: start;
  display: -webkit-box;
}

.stat-column {
  -webkit-margin-end: 20px;
  overflow: visible;
}

.stat-block {
  display: table;
  font: 14px 'sans';
  width: 100%;
}

.stat-block h2 {
  display: table-cell;
  font: 18px 'sans' bold;
  line-height 28px;
  padding: 10px;
}

.character-stat {
  display: table-row;
  line-height: 28px;
}

.stat-name,
.stat-value,
.stat-modifier {
  -webkit-padding-start: 10px;
  display: table-cell;
  font-family: 'sans';
}

.stat-modifier {
  color: #777;
}

.stat-name {
  font-weight: bold;
}

.stat-value,
.stat-modifier {
  text-align: right;
}

#other-list .stat-value {
  text-align: left;
}

#powers-tab([not(hidden]) {
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
  display: -webkit-box;
}

.power-column:not([hidden]) {
  -webkit-box-flex: 1;
  display: inline-block;
  width: 33%;
  vertical-align: top;
}

.power-list {
  font: 14px 'sans';
}

.power-list h2 {
  font: 18px 'sans' bold;
  margin: 5px;
}

.power-block {
  border: 1px solid #777;
  display: block;
  margin: 3px;
}

.power-block > * {
  margin: 5px;
}

#power-template,
#power-damage-template {
  display: none;
}

.power-title {
  font-weight: bold;
  margin: 0;
  padding: 5px;
}

/* TODO(kellis): Figure out what this is.
   See "Destined for Greatness" power. */
.power-no-action {
   background: #eee;
}

.power-immediate-interrupt {
  background: hsl(245, 100%, 92%);
}

/* See "Shadowslip" power as example. */
.power-immediate-reaction {
  background: hsl(245, 100%, 84%);
}

.power-free-action {
  background: hsl(34, 100%, 92%);
}

.power-minor-action {
  background: hsl(34, 100%, 84%);
}

.power-move-action {
  background: hsl(34, 100%, 76%);
}

.power-standard-action {
  background: hsl(34, 100%, 68%);
}

.power-attack-bonus,
.power-defense,
.power-damage {
  display: inline;
}

.power-details-toggle {
  float: right;
}

.arrow-right {
  border-bottom: 6px solid transparent;
  border-left: 6px solid #555;
  border-top: 6px solid transparent;
  height: 0;
  width: 0;
}

.arrow-down {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #555;
  height: 0;
  margin-top: 4px;
  width: 0;
}

#map-tiles,
#map-functions {
  overflow: auto;
  position: absolute;
}

#map-tiles {
  bottom: 5px;
  left: 5px;
}

#map-functions {
  left: 5px;
  top: 5px;
}

#map-tiles > *,
#map-functions > * {
  width: 25px;
  height: 25px;
  background-color: white;
  border: 1px solid #ccc;
}

#map-tiles > *[selected],
#map-functions > *[selected] {
  border-color: red;
}

#combat-tracker-page:not([hidden]) {
  -webkit-box-orient: vertical;
  -wbkit-box-pack: justify;
  display: -webkit-box;
  position: relative;
}


#combat-message-area {
  -webkit-box-flex: 0;
  border: 1px solid #777;
  height: 150px;
  overflow-y: auto;
  padding: 5px;
}

.combat-message {
  font: 12px 'sans';
  color: #555;
  margin: 3px 0;
  padding: 3px;
}

#combat-active-character {
  -webkit-box-flex: 1;
  padding: 10px 5px;
  font: 16px 'sans';
  position: relative;
}

#active-character-powers {
  overflow-y: auto;
  /* position: absolute !important; */
}

#active-character-powers > * {
  margin: 5px 0;
  padding: 3px;
}

#power-summary-template {
  display: none;
}

.power-summary {
  border: 1px solid transparent;
  cursor: pointer;
  font: 10px 'sans';
}

.power-summary[selected] {
  border-color: red;
}

.power-summary-name {
  font-weight: bold;
}

.power-summary-min-damage {
  -webkit-margin-start: 10px;
}

html[role=player] #map-tiles,
html[role=player] #map-functions,
html[role=player] #save-button,
html[role=player] #undo-button {
  display: none;
}
