
#combat-page,
#character-page {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#sidebar {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  width: 200px;
}

#sidebar-character-list {
  -webkit-box-flex: 1;
  overflow-y: auto;
}

#sidebar-controls {
  padding: 5px;
}

#content-area {
  bottom: 0;
  left: 200px;
  overflow: auto;
  right: 0;
  top: 0;
  position: absolute;
}

#content-area > canvas {
  position: absolute;
}

.section-title {
  color: #555;
  font-family: 'sans';
  font-weight: bold;
}

#character-template {
  display: none;
}

.character-button {
  background: #eee;
  border-radius: 5px;
  margin: 5px;
  padding: 3px;
}

.character-button-title {
  -webkit-box-orient: horizontal;
  display: -webkit-box;
  font: 14px 'sans' bold;
}

.character-button-name {
  -webkit-box-flex: 1;
}

.character-button-player {
  color: #777;
}

.character-button-subtitle {
  color: #555;
  font: 10px 'sans';
  margin-top: 5px;
}

.character-button-subtitle > * {
  -webkit-padding-end: 5px;
}

#character-navbar {
  border-right: 1px solid #777;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
}

#character-navbar > button {
  -webkit-margin-start: 10px;
  background: none;
  border: none;
  color:  #555;
  display: block;
  font: 16px 'sans';
  line-height: 32px;
  width: 130px;
}

#character-navbar > button:first-child {
  margin-top: 5px;
}

#character-navbar > button[active=true] {
  background: #777;
  color: #fff;
}

#character-navbar > button:hover:not([active=true]) {
  color: #000;
  font-weight: bold;
}


#character-page section {
  bottom: 0;
  left: 150px;
  position: absolute;
  right: 0;
  top: 0;
}

#action-bar {
  background: #fff;
  border-top: 1px solid #777;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 1;
}

#close-button {
  float: right;
  margin: 5px;
}

.stat-column {
  -webkit-margin-end: 20px;
  float: left;
  position: relative;
}

.stat-block {
  display: table;
  font: 14px 'sans';
  width: 100%;
}

.stat-block h2 {
  display: table-cell;
  font: 18px 'sans' bold;
  line-height 28px;
  padding: 10px;
}

.character-stat {
  display: table-row;
  line-height: 28px;
}

.stat-name,
.stat-value,
.stat-modifier {
  -webkit-padding-start: 10px;
  display: table-cell;
  font-family: 'sans';
}

.stat-modifier {
  color: #777;
}

.stat-name {
  font-weight: bold;
}

.stat-value,
.stat-modifier {
  text-align: right;
}

#other-list .stat-value {
  text-align: left;
}

.powers-tab {
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
  display: -webkit-box;
}

.power-column {
  -webkit-box-flex: 1;
  display: inline-block;
  width: 25%;
  vertical-align: top;
}

.power-list {
  font: 14px 'sans';
}

.power-list h2 {
  font: 18px 'sans' bold;
  margin: 5px;
}

.power-block {
  border: 1px solid #777;
  display: block;
  margin: 3px;
}

.power-block > * {
  margin: 5px;
}

#power-template,
#power-damage-template {
  display: none;
}

.power-title {
  background: #eee;
  font-weight: bold;
  margin: 0;
  padding: 5px;
}

.power-attack-bonus,
.power-defense,
.power-damage {
  display: inline;
}

.power-details-toggle {
  float: right;
}

.arrow-right {
  border-bottom: 6px solid transparent;
  border-left: 6px solid #555;
  border-top: 6px solid transparent;
  height: 0;
  width: 0;
}

.arrow-down {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #555;
  height: 0;
  margin-top: 4px;
  width: 0;
}

